body
{
  position: relative;
  padding-bottom: 100px;
  height: 100vh;
}

.SiteText
{
    text-align: right;
    float: right;
    padding-right: 15px;
    padding-top: 5px;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}


.carousel {
  width:640px;
  height:360px;
}

img
{
    height: 50rem;

}
.login {
    margin-top: 50px;
    text-align: center;
    padding: 30px 35% 50px 35%;
}
.formulaire
{
    max-height: 50%;
}

.description
{
    float:left;
    text-align: left;
    font-size: 30px;
    padding: 15px;
}

#footer
{
    background-color: grey;
    height: 100px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;

}

.container
{
  display: flex;
  justify-content: center;
}

.quote
{
  padding: 15px;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.quote:hover
{
  color: red;
}